
.m1-btn {
    
    top: 40%;
    left: 31%;
    display: inline-block;
    background: #c8e1e4;
    color: #6cb6b7;
    font-size: 12px;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
 
  #m1 {
    display: none;
    
  }
  #m1:checked + label {
    background: #ff5b5b;
    color: white;
  }


  #m2 {
    display: none;
    
  }
  #m2:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m3 {
    display: none;
    
  }
  #m3:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m4 {
    display: none;
    
  }
  #m4:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m5 {
    display: none;
    
  }
  #m5:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m6 {
    display: none;
    
  }
  #m6:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m7 {
    display: none;
    
  }
  #m7:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m8 {
    display: none;
    
  }
  #m8:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m9 {
    display: none;
    
  }
  #m9:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m10 {
    display: none;
    
  }
  #m10:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m11 {
    display: none;
    
  }
  #m11:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m12 {
    display: none;
    
  }
  #m12:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m13 {
    display: none;
    
  }
  #m13:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m14 {
    display: none;
    
  }
  #m14:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m15 {
    display: none;
    
  }
  #m15:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m16 {
    display: none;
    
  }
  #m16:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m17 {
    display: none;
    
  }
  #m17:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m18 {
    display: none;
    
  }
  #m18:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m19 {
    display: none;
    
  }
  #m19:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m20 {
    display: none;
    
  }
  #m20:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m21 {
    display: none;
    
  }
  #m21:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m22 {
    display: none;
    
  }
  #m22:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m23 {
    display: none;
    
  }
  #m23:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m24 {
    display: none;
    
  }
  #m24:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m25 {
    display: none;
    
  }
  #m25:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m26 {
    display: none;
    
  }
  #m26:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m27 {
    display: none;
    
  }
  #m27:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m28 {
    display: none;
    
  }
  #m28:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m29 {
    display: none;
    
  }
  #m29:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m30 {
    display: none;
    
  }
  #m30:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m31 {
    display: none;
    
  }
  #m31:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m32 {
    display: none;
    
  }
  #m32:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m33 {
    display: none;
    
  }
  #m33:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m34 {
    display: none;
    
  }
  #m34:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m35 {
    display: none;
    
  }
  #m35:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m36 {
    display: none;
    
  }
  #m36:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m37 {
    display: none;
    
  }
  #m37:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m38 {
    display: none;
    
  }
  #m38:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m39 {
    display: none;
    
  }
  #m39:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m40 {
    display: none;
    
  }
  #m40:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m41 {
    display: none;
    
  }
  #m41:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m42 {
    display: none;
    
  }
  #m42:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m43 {
    display: none;
    
  }
  #m43:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m44 {
    display: none;
    
  }
  #m44:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m45 {
    display: none;
    
  }
  #m45:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m46 {
    display: none;
    
  }
  #m46:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m47 {
    display: none;
    
  }
  #m47:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m48 {
    display: none;
    
  }
  #m48:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m49 {
    display: none;
    
  }
  #m49:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m50 {
    display: none;
    
  }
  #m50:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m51 {
    display: none;
    
  }
  #m51:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m52 {
    display: none;
    
  }
  #m52:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m53 {
    display: none;
    
  }
  #m53:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m54 {
    display: none;
    
  }
  #m54:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m55 {
    display: none;
    
  }
  #m55:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m56 {
    display: none;
    
  }
  #m56:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m57 {
    display: none;
    
  }
  #m57:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m58 {
    display: none;
    
  }
  #m58:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m59 {
    display: none;
    
  }
  #m59:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m60 {
    display: none;
    
  }
  #m60:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m61 {
    display: none;
    
  }
  #m61:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m62 {
    display: none;
    
  }
  #m62:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m63 {
    display: none;
    
  }
  #m63:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m64 {
    display: none;
    
  }
  #m64:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m65 {
    display: none;
    
  }
  #m65:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m66 {
    display: none;
    
  }
  #m66:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m67 {
    display: none;
    
  }
  #m67:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m68 {
    display: none;
    
  }
  #m68:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m69 {
    display: none;
    
  }
  #m69:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m70 {
    display: none;
    
  }
  #m70:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m71 {
    display: none;
    
  }
  #m71:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m72 {
    display: none;
    
  }
  #m72:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m73 {
    display: none;
    
  }
  #m73:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m74 {
    display: none;
    
  }
  #m74:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m75 {
    display: none;
    
  }
  #m75:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m76 {
    display: none;
    
  }
  #m76:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m77 {
    display: none;
    
  }
  #m77:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m78 {
    display: none;
    
  }
  #m78:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m79 {
    display: none;
    
  }
  #m79:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m80 {
    display: none;
    
  }
  #m80:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m81 {
    display: none;
    
  }
  #m81:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m82 {
    display: none;
    
  }
  #m82:checked + label {
    background: #ff5b5b;
    color: white;
  }
    #m83 {
    display: none;
    
  }
  #m83:checked + label {
    background: #ff5b5b;
    color: white;
  }
 

  #m84 {
    display: none;
    
  }
  #m84:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m85 {
    display: none;
    
  }
  #m85:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m86 {
    display: none;
    
  }
  #m86:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m87 {
    display: none;
    
  }
  #m87:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m88 {
    display: none;
    
  }
  #m88:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m89 {
    display: none;
    
  }
  #m89:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m90 {
    display: none;
    
  }
  #m90:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m91 {
    display: none;
    
  }
  #m91:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m92 {
    display: none;
    
  }
  #m92:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m93 {
    display: none;
    
  }
  #m93:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m94 {
    display: none;
    
  }
  #m94:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m95 {
    display: none;
    
  }
  #m95:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m96 {
    display: none;
    
  }
  #m96:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m97 {
    display: none;
    
  }
  #m97:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m98 {
    display: none;
    
  }
  #m98:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m99 {
    display: none;
    
  }
  #m99:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m100 {
    display: none;
    
  }
  #m100:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m101 {
    display: none;
    
  }
  #m101:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m102 {
    display: none;
    
  }
  #m102:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m103 {
    display: none;
    
  }
  #m103:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m104 {
    display: none;
    
  }
  #m104:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m105 {
    display: none;
    
  }
  #m105:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m106 {
    display: none;
    
  }
  #m106:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m107 {
    display: none;
    
  }
  #m107:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m108 {
    display: none;
    
  }
  #m108:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m109 {
    display: none;
    
  }
  #m109:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m110 {
    display: none;
    
  }
  #m110:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m111 {
    display: none;
    
  }
  #m111:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m112 {
    display: none;
    
  }
  #m112:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m113 {
    display: none;
    
  }
  #m113:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m114 {
    display: none;
    
  }
  #m114:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m115 {
    display: none;
    
  }
  #m115:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m116 {
    display: none;
    
  }
  #m116:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m117 {
    display: none;
    
  }
  #m117:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m118 {
    display: none;
    
  }
  #m118:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m119 {
    display: none;
    
  }
  #m119:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m120 {
    display: none;
    
  }
  #m120:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m121 {
    display: none;
    
  }
  #m121:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m122 {
    display: none;
    
  }
  #m122:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m123 {
    display: none;
    
  }
  #m123:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m124 {
    display: none;
    
  }
  #m124:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m125 {
    display: none;
    
  }
  #m125:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m126 {
    display: none;
    
  }
  #m126:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m127 {
    display: none;
    
  }
  #m127:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m128 {
    display: none;
    
  }
  #m128:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m129 {
    display: none;
    
  }
  #m129:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m130 {
    display: none;
    
  }
  #m130:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m131 {
    display: none;
    
  }
  #m131:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m132 {
    display: none;
    
  }
  #m132:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m133 {
    display: none;
    
  }
  #m133:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m134 {
    display: none;
    
  }
  #m134:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m135 {
    display: none;
    
  }
  #m135:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m136 {
    display: none;
    
  }
  #m136:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m137 {
    display: none;
    
  }
  #m137:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m138 {
    display: none;
    
  }
  #m138:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m139 {
    display: none;
    
  }
  #m139:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m140 {
    display: none;
    
  }
  #m140:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m141 {
    display: none;
    
  }
  #m141:checked + label {
    background: #ff5b5b;
    color: white;
  }
  #m142 {
    display: none;
    
  }
  #m142:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m143 {
    display: none;
    
  }
  #m143:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m144 {
    display: none;
    
  }
  #m144:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m145 {
    display: none;
    
  }
  #m145:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m146 {
    display: none;
    
  }
  #m146:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m147 {
    display: none;
    
  }
  #m147:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m148 {
    display: none;
    
  }
  #m148:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m149 {
    display: none;
    
  }
  #m149:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m150 {
    display: none;
    
  }
  #m150:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m151 {
    display: none;
    
  }
  #m151:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m152 {
    display: none;
    
  }
  #m152:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m153 {
    display: none;
    
  }
  #m153:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m154 {
    display: none;
    
  }
  #m154:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m155 {
    display: none;
    
  }
  #m155:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m156 {
    display: none;
    
  }
  #m156:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m157 {
    display: none;
    
  }
  #m157:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m158 {
    display: none;
    
  }
  #m158:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m159 {
    display: none;
    
  }
  #m159:checked + label {
    background: #ff5b5b;
    color: white;
  }

  #m160 {
    display: none;
    
  }
  #m160:checked + label {
    background: #ff5b5b;
    color: white;
  }




















   .btn-lock {
     
        top: 40%;
        left: 31%;
        display: inline-block;
        background: #c8e1e4;
        color: #6cb6b7;
      font-size: 12px;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
      
        border-radius: 50%;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
      }
     
      #inpLock-portal-1 {
        display: none;
        
      }
      #inpLock-portal-1:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-2 {
        display: none;
        
      }
      #inpLock-portal-2:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-3 {
        display: none;
        
      }
      #inpLock-portal-3:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-4{
        display: none;
        
      }
      #inpLock-portal-4:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-5 {
        display: none;
        
      }
      #inpLock-portal-5:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-6 {
        display: none;
        
      }
      #inpLock-portal-6:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-7 {
        display: none;
        
      }
      #inpLock-portal-7:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-8 {
        display: none;
        
      }
      #inpLock-portal-8:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-9 {
        display: none;
        
      }
      #inpLock-portal-9:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-10 {
        display: none;
        
      }
      #inpLock-portal-10:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-11 {
        display: none;
        
      }
      #inpLock-portal-11:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-12 {
        display: none;
        
      }
      #inpLock-portal-12:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-13 {
        display: none;
        
      }
      #inpLock-portal-13:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-14 {
        display: none;
        
      }
      #inpLock-portal-14:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-15 {
        display: none;
        
      }
      #inpLock-portal-15:checked + label {
        background: #ff5b5b;
        color: white;
      }
      #inpLock-portal-16 {
        display: none;
        
      }
      #inpLock-portal-16:checked + label {
        background: #ff5b5b;
        color: white;
      }
    
    #inpLock-portal-17 {
      display: none;
      
    }
    #inpLock-portal-17:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-18 {
      display: none;
      
    }
    #inpLock-portal-18:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-19 {
      display: none;
      
    }
    #inpLock-portal-19:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-20 {
      display: none;
      
    }
    #inpLock-portal-20:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-21 {
      display: none;
      
    }
    #inpLock-portal-21:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-22 {
      display: none;
      
    }
    #inpLock-portal-22:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-23 {
      display: none;
      
    }
    #inpLock-portal-23:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-24 {
      display: none;
      
    }
    #inpLock-portal-24:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-25 {
      display: none;
      
    }
    #inpLock-portal-25:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-26 {
      display: none;
      
    }
    #inpLock-portal-26:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-27 {
      display: none;
      
    }
    #inpLock-portal-27:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-28 {
      display: none;
      
    }
    #inpLock-portal-28:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-29 {
      display: none;
      
    }
    #inpLock-portal-29:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-30 {
      display: none;
      
    }
    #inpLock-portal-30:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-31 {
      display: none;
      
    }
    #inpLock-portal-31:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-32 {
      display: none;
      
    }
    #inpLock-portal-32:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-33 {
      display: none;
      
    }
    #inpLock-portal-33:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-34 {
      display: none;
      
    }
    #inpLock-portal-34:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-35 {
      display: none;
      
    }
    #inpLock-portal-35:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-36 {
      display: none;
      
    }
    #inpLock-portal-36:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-37 {
      display: none;
      
    }
    #inpLock-portal-37:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-38 {
      display: none;
      
    }
    #inpLock-portal-38:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-39 {
      display: none;
      
    }
    #inpLock-portal-39:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-40 {
      display: none;
      
    }
    #inpLock-portal-40:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-41 {
      display: none;
      
    }
    #inpLock-portal-41:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-42 {
      display: none;
      
    }
    #inpLock-portal-42:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-43 {
      display: none;
      
    }
    #inpLock-portal-43:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-44 {
      display: none;
      
    }
    #inpLock-portal-44:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-45 {
      display: none;
      
    }
    #inpLock-portal-45:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-46 {
      display: none;
      
    }
    #inpLock-portal-46:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-47 {
      display: none;
      
    }
    #inpLock-portal-47:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-48 {
      display: none;
      
    }
    #inpLock-portal-48:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-49 {
      display: none;
      
    }
    #inpLock-portal-49:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-50 {
      display: none;
      
    }
    #inpLock-portal-50:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-51 {
      display: none;
      
    }
    #inpLock-portal-51:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-52 {
      display: none;
      
    }
    #inpLock-portal-52:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-53 {
      display: none;
      
    }
    #inpLock-portal-53:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-54 {
      display: none;
      
    }
    #inpLock-portal-54:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-55 {
      display: none;
      
    }
    #inpLock-portal-55:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-56 {
      display: none;
      
    }
    #inpLock-portal-56:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-57 {
      display: none;
      
    }
    #inpLock-portal-57:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-58 {
      display: none;
      
    }
    #inpLock-portal-58:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-59 {
      display: none;
      
    }
    #inpLock-portal-59:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-60 {
      display: none;
      
    }
    #inpLock-portal-60:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-61 {
      display: none;
      
    }
    #inpLock-portal-61:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-62 {
      display: none;
      
    }
    #inpLock-portal-62:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-63 {
      display: none;
      
    }
    #inpLock-portal-63:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-64 {
      display: none;
      
    }
    #inpLock-portal-64:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-65 {
      display: none;
      
    }
    #inpLock-portal-65:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-66 {
      display: none;
      
    }
    #inpLock-portal-66:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-67 {
      display: none;
      
    }
    #inpLock-portal-67:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-68 {
      display: none;
      
    }
    #inpLock-portal-68:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-69 {
      display: none;
      
    }
    #inpLock-portal-69:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-70 {
      display: none;
      
    }
    #inpLock-portal-70:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-71 {
      display: none;
      
    }
    #inpLock-portal-71:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-72 {
      display: none;
      
    }
    #inpLock-portal-72:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-73 {
      display: none;
      
    }
    #inpLock-portal-73:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-74 {
      display: none;
      
    }
    #inpLock-portal-74:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-75 {
      display: none;
      
    }
    #inpLock-portal-75:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-76 {
      display: none;
      
    }
    #inpLock-portal-76:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-77 {
      display: none;
      
    }
    #inpLock-portal-77:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-78 {
      display: none;
      
    }
    #inpLock-portal-78:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-79 {
      display: none;
      
    }
    #inpLock-portal-79:checked + label {
      background: #ff5b5b;
      color: white;
    }
    #inpLock-portal-80 {
      display: none;
      
      }
      #inpLock-portal-80:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-81 {
      display: none;
      
      }
      #inpLock-portal-81:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-82 {
      display: none;
      
      }
      #inpLock-portal-82:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-83 {
      display: none;
      
      }
      #inpLock-portal-83:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-84 {
      display: none;
      
      }
      #inpLock-portal-84:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-85 {
      display: none;
      
      }
      #inpLock-portal-85:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-86 {
      display: none;
      
      }
      #inpLock-portal-86:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-87 {
      display: none;
      
      }
      #inpLock-portal-87:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-88 {
      display: none;
      
      }
      #inpLock-portal-88:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-89 {
      display: none;
      
      }
      #inpLock-portal-89:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-90 {
      display: none;
      
      }
      #inpLock-portal-90:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-91 {
      display: none;
      
      }
      #inpLock-portal-91:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-92 {
      display: none;
      
      }
      #inpLock-portal-92:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-93 {
      display: none;
      
      }
      #inpLock-portal-93:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-94 {
      display: none;
      
      }
      #inpLock-portal-94:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-95 {
      display: none;
      
      }
      #inpLock-portal-95:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-96 {
      display: none;
      
      }
      #inpLock-portal-96:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-97 {
      display: none;
      
      }
      #inpLock-portal-97:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-98 {
      display: none;
      
      }
      #inpLock-portal-98:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-99 {
      display: none;
      
      }
      #inpLock-portal-99:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-99 {
      display: none;
      
      }
      #inpLock-portal-99:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-100 {
      display: none;
      
      }
      #inpLock-portal-100:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-101 {
      display: none;
      
      }
      #inpLock-portal-101:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-102 {
      display: none;
      
      }
      #inpLock-portal-102:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-103 {
      display: none;
      
      }
      #inpLock-portal-103:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-104 {
      display: none;
      
      }
      #inpLock-portal-104:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-105 {
      display: none;
      
      }
      #inpLock-portal-105:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-106 {
      display: none;
      
      }
      #inpLock-portal-106:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-107 {
      display: none;
      
      }
      #inpLock-portal-107:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-108 {
      display: none;
      
      }
      #inpLock-portal-108:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-109 {
      display: none;
      
      }
      #inpLock-portal-109:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-110 {
      display: none;
      
      }
      #inpLock-portal-110:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-111 {
      display: none;
      
      }
      #inpLock-portal-111:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-112 {
      display: none;
      
      }
      #inpLock-portal-112:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inpLock-portal-113 {
      display: none;
      
      }
      #inpLock-portal-113:checked + label {
      background: #ff5b5b;
      color: white;
      }
      /* / bvvv/ / */
      
      .input-check-portal-for-btn {
      
      top: 40%;
      left: 31%;
      font-size: 12px;
      
      display: inline-block;
      background:white;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      
      }
      
      #input-check-portal-for-btn-label{
      display: none;
      }
      #input-check-portal-for-btn-label:checked + label {
      background: #ff5b5b;
      color: white;
      }
      #inp-btn-inner-portal{
      display: none;
      }
      #inp-btn-inner-portal:checked + label {
      background: #ff5b5b;
      color: white;
      }
      /* / xcvxcv / */
      .dormiuode-portal{
      color: #20cca5;
      }
      .remove-border-portal{
      border: none;
      width: 25%;
      }
      .border-suno-portal{
      border-bottom: 1px solid #20cca5 ;
      }
      .checktop-portal{
      color: #20cca5;
      
      }
      .btn-check-portal{
      width: 100%;
      background: #20cca5;
      border-radius: 6px;
      border: none;
      }
      .remove-border-last-portal{
      width: 46px;
      border: none;
      }
      .w-113-portal{
      width: 113%;
      }
      .m-left-74-portal{
      margin-left: 74%;
      }
      .width-text-box-portal{
      width: 100%;
      }
      .padding-left-10-report{
      padding-left: 40%;
      }
      .div-text-arranged-portal{
      padding-top: 5px;
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 0%;
      font-size: 14px;
      
      }
      .padding-text-succo-portal{
      padding-right:8% ;
      }
      .font-size-for-col-portal{
      font-size: 14px;
      }
      .mb-portal-set{
      margin-bottom: 0px;
      
      }
      .m-top-set-portal{
      margin-top: 3px;
      padding-bottom: 10px!important;
      }
      .set-padding-time-portal{
      padding-left: 20px!important;
      }
      .font-time-portal-report{
      font-size: 13px;
      color: #20cca5;
      font-weight: bold;
      padding-left: 4%;
      }
      .padding-left-portal-text{
      padding-left: 10px;
      }
      .m-top-min-portal{
      margin-top: -3px!important;
      }
      .setinpur-time-portal{
      font-size:8px;
      width: 30px;
      height: 15px;
      margin-left: 0%;
      }
      .col-img-head-portal{
      width: 16px!important;
      margin-left: 28px;
      margin-top: -12px;
      }
      
      
      .bg-color-portal
      {
      background-color: #4097D8;
      }
      
      .bg-dropdown-Portal
      {
      background-color: #1A5A82;
      }
      .maxwidth-17-portal
      {
      max-width: 18%;
      /* / padding-left: 15px; / */
      }
      
      .justify-portal
      {
      justify-content: space-evenly;
      }
      .file-popup-img-portal{
      width: 45px;
      }
      /* @media (min-width: 1450px){
      .padding-zero-portal {
      padding-left: 0px !important;
      }
      
      } */