<!DOCTYPE html>
<html lang="" data-ng-app="authorizadas-tpl-html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authorizadas</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="./Assets/css/sidebar.css">
  <link rel="stylesheet" href="Assets/css/navbar.css">
<link rel="stylesheet" href="./Assets/css/Popup.css">

<link rel="stylesheet" href="./Assets/css/longReport.css">
<link rel="stylesheet" href="Assets/css/index.css">
<link rel="stylesheet" href="./Assets/css/calendar.css">
<link rel="stylesheet" href="./Assets/css/page.css">
<script src="./Assets/js/page.js"></script>


  </head>
 

  <body  ng-controller="AppCtrl as vm" class="bg-light">
    <div class="container pt-5">
      <div class="text-center color-primary colr">
          
          <h3 class="font-weigt">Pessoas autoriadas a retirar o(a) estudante</h3>
      </div>
      <div class="text-center color-primary colr1 pb-4">
          <h4 class="font-weigt">Educação infantil</h4>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nome" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
      </div>
      
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="RG" aria-label="Username" aria-describedby="basic-addon1"  required>
                </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0 padding-left">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Grau de parentesco" aria-label="Username" aria-describedby="basic-addon1"  required>
                </div>
          </div> 
      </div>
      <hr>
      <div id="appendInputs">
      
      </div>
      <div class="text-center">
          <button type="button" class="btn btn-sm pl-5 pr-5 bg-colr" onclick="addLine()"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
      
      
      <div class="text-center color-primary pb-2 pt-2 colr">
          <h3 class="font-weigt">Responsável pelo tranporte escolar (perua/van)</h3>
      </div>
      
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0 pr-0">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Nome" aria-label="Username" aria-describedby="basic-addon1"  required>
            </div>
      </div>
      
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="RG" aria-label="Username" aria-describedby="basic-addon1"  required>
                </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0 padding-left">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Grau de parentesco" aria-label="Username" aria-describedby="basic-addon1"  required>
                </div>
          </div> 
      
      </div>
      <div class="colr text-center">
      <h6>Confirmação dos pais ou responsáveis</br>
      Solicitamos que quaisquer alterações a estes dados sejam comunicadas ao Colégio.</h6>
      </div>
      <div class="text-center">
          <button type="button" class="btn btn-sm bg-colr pl-4 pr-4">Confirmação &nbsp;
                  <input id="checkbtn-portal-2" type="checkbox" value="1"   required/>
                  <label class="checkbtn-portal-lock-2 text-center " for="checkbtn-portal-2">Y</label>
          </button>
      </div>
      <div class="text-center">
          <button type="submit" value="Submit" class="btn btn-sm bg-success text-white pl-3 pr-3 mt-2">SALVAR</button>
      </div>
      
      </div>
      


  </body>
   
  <script src="./Assets/js/nabvar.js"></script>
    <script src="./Assets/js/sidebar.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="./Assets/js/calendar.js"></script>
    <script src="./Assets/js/calender1.js"></script>
       <script src="./Assets/js/popup.js"></script>
  <!-- bower:js -->
  <script src='bower_components/jquery/dist/jquery.js'></script>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
  <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
  <script src='bower_components/angular-animate/angular-animate.js'></script>
  <script src='bower_components/angular-sanitize/angular-sanitize.js'></script>
  <script src='bower_components/angular-cookies/angular-cookies.js'></script>
  <script src='bower_components/angular-messages/angular-messages.js'></script>
  <script src='bower_components/angular-ui-router/release/angular-ui-router.js'></script>
  <script src='bower_components/toastr/toastr.js'></script>
  <script src='bower_components/angular-input-masks/angular-input-masks-standalone.js'></script>
  <script src='bower_components/angular-translate/angular-translate.js'></script>
  <script src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js'></script>
  <script src='bower_components/components-configuration/components.js'></script>
  <!-- endbower -->
  <script src='src/authorizadas.module.js'></script>
  <script src='src/authorizadas/authorizadas.service.js'></script> 
  <!-- <script src="authorizadas.js"></script>     -->
  <!-- <script src="authorizadas.min.js"></script>    -->
  <script id="__bs_script__">
    //<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
    //]]>
  </script>
  <script>
    (function(){
        angular
        .module('authorizadas-tpl-html',['tb.components.authorizadas'])
        .controller('AppCtrl', ['$scope', 'AuthorizadasService', function($scope, AuthorizadasService){
          
          var vm = this;

          var contentModal = {
            anyProperty : 'The modal will receive the object that you build'
          }
  
          vm.authorizadasService = function($event){
            AuthorizadasService.authorizadas(contentModal).then(function(modalClosedReturn){
            });
          }
        }]);
    }());
  </script>
</html>
