<!DOCTYPE html>
<html lang="" data-ng-app="calendar-yearly-view-portal-tpl-html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar Yearly View Portal</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="./Assets/css/sidebar.css">
  <link rel="stylesheet" href="Assets/css/navbar.css">
<link rel="stylesheet" href="./Assets/css/Popup.css">

<link rel="stylesheet" href="./Assets/css/longReport.css">
<link rel="stylesheet" href="Assets/css/index.css">
<link rel="stylesheet" href="./Assets/css/calendar.css">
<link rel="stylesheet" href="./Assets/css/page.css">
<link rel="stylesheet" href="./Assets/css/task.css">
<link rel="stylesheet" href="Assets/css/monthly.css">
<script src="./Assets/js/page.js"></script>


  </head>
 

  <body  >
  
            <div class="row pt-4">
                <div class="col-md-3 col-lg-3 col-sm-12 pt-1">
                  <h5 class="a-date selected-change"></h5>
                </div>
              
                <div class="col-md-2 col-lg-2 col-sm-2 a-colorBlue-portal bg-white a-borderRadius-portal   col-lg-portal ml-auto">
               <div class="top-heading-portal  ">
                <h6 class="top-heading-padding-portal top-heading-bottom-border-portal"><a class="text-decoration font-weight-bold" href="#!/Calender_daily">Dia</a></h6>
               </div>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 a-colorBlue-portal bg-light a-borderRadius-portal col-lg-portal" >
                 <div class="top-heading-portal ">
                   <h6 class="top-heading-padding-portal"><a class="text-decoration" href="#!/calender_Weakly">Semana</a></h6>
                 </div>
                 </div>
                 <div class="col-md-2 col-lg-2 col-sm-2 a-colorBlue-portal bg-light a-borderRadius-portal  col-lg-portal">
                 <div class="top-heading-portal"> <h6 class="top-heading-padding-portal"><a class="text-decoration" href="#!/calender_Monthly">Mês</a></h6></div>
                 </div>
                 <div class="col-md-2 col-lg-2 col-sm-2 a-colorBlue-portal bg-light a-borderRadius-portal  col-lg-portal">
                  <div class="top-heading-portal"><h6 class="top-heading-padding-portal"><a class="text-decoration" href="#!/calender_yearly">Ano</a></h6></div>
                 </div>
              
              
              </div>
          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item border" >
  
            <!--Controls-->
            <div class="controls-top">
              <a class="btn-floating" ng-href="#!/multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
              <a class="btn-floating" ng-href="#!/multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->
          
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
          
              <!--First slide-->
              <div class="carousel-item active">
          
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                   <div class="text-center height-60-portal bg-dark text-white"><p>Janeiro</p></div>
          
                   </div> 
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Fevereiro</p></div>
                      
                   
                   </div>  
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Março</p></div>
                      
                  
                   </div>  
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Abril</p></div>
                      
                   
                   </div>  
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal  "><p>Maio</p></div>
                      
                  
                   </div>  
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Junho</p></div>
                      
                  
                   </div>  
                  </div>
  
  
  
  
  
  
                </div>
                <div class="row ">
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
      
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                      
      
                       <div class="pl-4 pr-3 pt-4 height-100-portal">
                        <p>1º Semana</p>
      
                        <div id="main0"></div>
                        
                       </div>
      
                       </div> 
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>1º Semana</p>
                        
                        <div id="main1"></div>
      
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>1º Semana</p>
                        
                        <div id="main2"></div>
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>1º Semana</p>
                        
                       </div>
      
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>1º Semana</p>
                        <div id="main3"></div>
                       
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>1º Semana</p>
                     
                       </div>
                       </div>  
                      </div>
                    </div>
      
      
      
                    
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                      
      
                       <div class="pl-4 pr-3 pt-4 height-100-portal">
                        <p>2º Semana</p>
      
                        <div id="main4"></div>
                        
                       </div>
      
                       </div> 
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>2º Semana</p>
                        
                        <div id="main5"></div>
      
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>2º Semana</p>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>2º Semana</p>
                        <div id="main6"></div>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>2º Semana</p>
                        
                        <div id="main7"></div>
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>2º Semana</p>
                        
                       </div>
                       </div>  
                      </div>
                    </div>
      
      
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                      
      
                       <div class="pl-4 pr-3 pt-4 height-100-portal">
                        <p>3º Semana</p>
      
                        <div id="main8"></div>
                        
                       </div>
      
                       </div> 
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>3º Semana </p>
                        
                        <div id="main9"></div>
      
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>3º Semana</p>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>3º Semana</p>
                        <div id="main10"></div>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>3º Semana</p>
                       
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>3º Semana</p>
                        <div id="main11"></div>
                     
                       </div>
                       </div>  
                      </div>
                    </div>
      
      
      
      
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                      
      
                       <div class="pl-4 pr-3 pt-4 height-100-portal">
                        <p>4º Semana</p>
      
                        <div id="main12"></div>
                        
                       </div>
      
                       </div> 
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>4º Semana</p>
                        
                        <div id="main13"></div>
      
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>4º Semana</p>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>4º Semana</p>
                        <div id="main14"></div>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>4º Semana</p>
                        <div id="main15"></div>
                       
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>4º Semana</p>
                     
                       </div>
                       </div>  
                      </div>
                    </div>
      
      
      
      
      
      
      
                    
      
      
                  </div>
                </div>
          
              </div>
              <!--/.First slide-->
          
              <!--Second slide-->
              <div class="carousel-item  ">
          
                <div class="row ">
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                   <div class="text-center height-60-portal"><p>Julho</p></div>
          
                   
          
                   </div> 
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Agosto</p></div>
                  
                   </div>  
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Setembro</p></div>
                      
                   
                   </div>  
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Outubro</p></div>
                      
                  
                   </div>  
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Novembro</p></div>
                      
                  
                   </div>  
                  </div>
          
                  <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                    <div class="">
                  <div class="text-center height-60-portal"><p>Dezembro</p></div>
                      
                  
                   </div>  
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
      
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                      
      
                       <div class="pl-4 pr-3 pt-4 height-100-portal">
                        <p>1º Semana</p>
      
                        <div id="main16"></div>
                        
                       </div>
      
                       </div> 
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>1º Semana</p>
                        
                        <div id="main17"></div>
      
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>1º Semana</p>
                        
                        <div id="main18"></div>
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>1º Semana</p>
                        
                       </div>
      
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>1º Semana</p>
                        <div id="main19"></div>
                       
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>1º Semana</p>
                     
                       </div>
                       </div>  
                      </div>
                    </div>
      
      
      
                    
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                      
      
                       <div class="pl-4 pr-3 pt-4 height-100-portal">
                        <p>2º Semana</p>
      
                        <div id="main20"></div>
                        
                       </div>
      
                       </div> 
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>2º Semana</p>
                        
                        <div id="main21"></div>
      
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>2º Semana</p>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>2º Semana</p>
                        <div id="main22"></div>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>2º Semana</p>
                        
                        <div id="main23"></div>
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>2º Semana</p>
                        
                       </div>
                       </div>  
                      </div>
                    </div>
      
      
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                      
      
                       <div class="pl-4 pr-3 pt-4 height-100-portal">
                        <p>3º Semana</p>
      
                        <div id="main24"></div>
                        
                       </div>
      
                       </div> 
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>3º Semana </p>
                        
                        <div id="main25"></div>
      
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>3º Semana</p>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>3º Semana</p>
                        <div id="main26"></div>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>3º Semana</p>
                       
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>3º Semana</p>
                        <div id="main27"></div>
                     
                       </div>
                       </div>  
                      </div>
                    </div>
      
      
      
      
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                      
      
                       <div class="pl-4 pr-3 pt-4 height-100-portal">
                        <p>4º Semana</p>
      
                        <div id="main28"></div>
                        
                       </div>
      
                       </div> 
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>4º Semana</p>
                        
                        <div id="main29"></div>
      
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>4º Semana</p>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>4º Semana</p>
                        <div id="main30"></div>
                        
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3">
                        <p>4º Semana</p>
                        <div id="main31"></div>
                       
                       </div>
                       </div>  
                      </div>
      
                      <div class="col-lg-2 col-md-2 col-sm-2 border p-0">
                        <div class="">
                     
                          
                       <div class="pl-3 pt-4 pr-3 bg-gray-portal height-100-portal">
                        <p>4º Semana</p>
                     
                       </div>
                       </div>  
                      </div>
                    </div>
      
      
      
      
      
      
      
                    
      
      
                  </div>
                </div>
              </div>
              <!--/.Second slide-->
          
          
            </div>
            <!--/.Slides-->
          
          </div>
          <!--/.Carousel Wrapper-->
            
            
  
  
  
            <div class="row pt-4 pb-5">
              <div class="col-md-9 col-lg-9 col-sm-12  pt-2 pb-2 pl-3">
                <div class="d-flex justify-content-around flex-nowrap">
                  <div class="d-flex"><span class="dot"></span>&nbsp;&nbsp;<p>Disciplina</p></div>
                  <div class="d-flex"><span class="dot1"></span>&nbsp;&nbsp;<p>Disciplina</p></div>
                  <div class="d-flex"><span class="dot2"></span>&nbsp;&nbsp;<p>Disciplina</p></div>
                  <div class="d-flex"><span class="dot3"></span>&nbsp;&nbsp;<p>Disciplina</p></div>
                  <div class="d-flex"><span class="dot4"></span>&nbsp;&nbsp;<p>Disciplina</p></div>
                </div>
              </div>
            </div>
          
  </body>
  <script>
    let html;
  
    let arr = [1,2,3,4,4,4,4,4,4,4,1,2,3,4,4,4,4,4,4,4,1,2,3,4,4,4,4,4,4,4,3,5,2,3,2,3];
    arr.map((item, index) => {
        let rand = Math.floor(Math.random() * 8) + 1;
        html = ` <div class="progress progress-portal mt-4" >
        <div class="progress-bar border-rad-5-portal" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%,color:white" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal bg-danger" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 1}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal bg-success" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal " role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal bg-dark" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        <div class="progress-bar border-rad-5-portal" role="progressbar" style="width:${Math.floor(Math.random() * 20) + 8}%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>`
    document.getElementById(`main${index}`).innerHTML =html
    
        html = html + html
    })
  
    </script>
     <script>
      $('.carousel-item').carousel({
interval: false,
});
</script>
  <script src="./Assets/js/nabvar.js"></script>
    <script src="./Assets/js/sidebar.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="./Assets/js/calendar.js"></script>
    <script src="./Assets/js/calender1.js"></script>
       <script src="./Assets/js/popup.js"></script>
  <!-- bower:js -->
  <script src='bower_components/jquery/dist/jquery.js'></script>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
  <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
  <script src='bower_components/angular-animate/angular-animate.js'></script>
  <script src='bower_components/angular-sanitize/angular-sanitize.js'></script>
  <script src='bower_components/angular-cookies/angular-cookies.js'></script>
  <script src='bower_components/angular-messages/angular-messages.js'></script>
  <script src='bower_components/angular-ui-router/release/angular-ui-router.js'></script>
  <script src='bower_components/toastr/toastr.js'></script>
  <script src='bower_components/angular-input-masks/angular-input-masks-standalone.js'></script>
  <script src='bower_components/angular-translate/angular-translate.js'></script>
  <script src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js'></script>
  <script src='bower_components/components-configuration/components.js'></script>
  <!-- endbower -->
  <script src='src/calendar-yearly-view-portal.module.js'></script>
  <script src='src/calendar-yearly-view-portal/calendar-yearly-view-portal.service.js'></script> 
  <!-- <script src="calendar-yearly-view-portal.js"></script>     -->
  <!-- <script src="calendar-yearly-view-portal.min.js"></script>    -->
  <script id="__bs_script__">
    //<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
    //]]>
  </script>
  <script>
    (function(){
        angular
        .module('calendar-yearly-view-portal-tpl-html',['tb.components.calendar-yearly-view-portal'])
        .controller('AppCtrl', ['$scope', 'CalendarYearlyViewPortalService', function($scope, CalendarYearlyViewPortalService){
          
          var vm = this;

          var contentModal = {
            anyProperty : 'The modal will receive the object that you build'
          }
  
          vm.calendarYearlyViewPortalService = function($event){
            CalendarYearlyViewPortalService.calendarYearlyViewPortal(contentModal).then(function(modalClosedReturn){
            });
          }
        }]);
    }());
  </script>
</html>
