<!DOCTYPE html>
<html lang="" data-ng-app="calendar-daily-view-portal-tpl-html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar Daily View Portal</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="./Assets/css/sidebar.css">
  <link rel="stylesheet" href="Assets/css/navbar.css">
<link rel="stylesheet" href="./Assets/css/Popup.css">

<link rel="stylesheet" href="Assets/css/style.css">
<link rel="stylesheet" href="Assets/css/monthly.css">
<link rel="stylesheet" href="./Assets/css/longReport.css">
<link rel="stylesheet" href="Assets/css/index.css">
<link rel="stylesheet" href="./Assets/css/calendar.css">


  </head>
 

  <body  ng-controller="firstController">
  

             <!-- calender  portion end -->
            <!-- <8 col main - div  -->
            
              <div class="row pt-4">
                <div class="col-md-3 col-lg-3 col-sm-12 pt-1">
                  <h5 class="a-date selected-change"></h5>
                </div>
              
                <div class="col-md-2 col-lg-2 col-sm-2 a-colorBlue-portal bg-white a-borderRadius-portal   col-lg-portal ml-auto">
               <div class="top-heading-portal  ">
                <h6 class="top-heading-padding-portal top-heading-bottom-border-portal"><a class="text-decoration font-weight-bold" href="#!/Calender_daily">Dia</a></h6>
               </div>
                </div>
                <div class="col-md-2 col-lg-2 col-sm-2 a-colorBlue-portal bg-light a-borderRadius-portal col-lg-portal" >
                 <div class="top-heading-portal ">
                   <h6 class="top-heading-padding-portal"><a class="text-decoration" href="#!/calender_Weakly">Semana</a></h6>
                 </div>
                 </div>
                 <div class="col-md-2 col-lg-2 col-sm-2 a-colorBlue-portal bg-light a-borderRadius-portal  col-lg-portal">
                 <div class="top-heading-portal"> <h6 class="top-heading-padding-portal"><a class="text-decoration" href="#!/calender_Monthly">Mês</a></h6></div>
                 </div>
                 <div class="col-md-2 col-lg-2 col-sm-2 a-colorBlue-portal bg-light a-borderRadius-portal  col-lg-portal">
                  <div class="top-heading-portal"><h6 class="top-heading-padding-portal"><a class="text-decoration" href="#!/calender_yearly">Ano</a></h6></div>
                 </div>
              
              
              </div>
              <div class="row pl-0 a-rowBorder-portal flex-nowrap mt-3" ng-repeat="x in array">
                <div class="col-lg-2 col-md-2 col-sm-2 pr-0 ">
                <div class="row fiftyEight-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal"></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col3-portal ">
                      <p class="ime-font-size-portal">{{x.time}}</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  
                  <!-- <div class="row seventyOne-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col2-portal">
                      <p class="ime-font-size-portal">09:30</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row fiftyEight-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal"></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col3-portal ">
                      <p class="ime-font-size-portal">10:00</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row eightySix-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col4-portal ">
                      <p class="ime-font-size-portal">11:00</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row seventyFive-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col5-portal ">
                      <p class="ime-font-size-portal">11:30</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row seventyOne-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col6-portal ">
                      <p class="ime-font-size-portal">12:00</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row fiftyEight-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col3-portal ">
                      <p class="ime-font-size-portal">12:30</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row seventyFive-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col5-portal ">
                      <p class="ime-font-size-portal">1:00</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row seventyOne-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col6-portal ">
                      <p class="ime-font-size-portal">1:30</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row seventyOne-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col6-portal ">
                      <p class="ime-font-size-portal">2:00</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row fiftyEight-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col3-portal ">
                      <p class="ime-font-size-portal">2:30</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row seventyFive-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col5-portal ">
                      <p class="ime-font-size-portal">3:00</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row seventyOne-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col6-portal ">
                      <p class="ime-font-size-portal">3:30</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row eightySix-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col4-portal ">
                      <p class="ime-font-size-portal">4:00</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div>
                  <div class="row fiftyEight-portal flex-nowrap">
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                    <div class="col-lg-7 col-md-7 col-sm-8 text-center col3-portal ">
                      <p class="ime-font-size-portal">4:30</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 borderDashed-portal "></div>
                  </div> -->
    
    
    
    
                </div>
    
    
    
    
    
                <div class="col-lg-10 col-md-10 col-sm-10 borderCol8-portal ">
              
                   <div ng-if="x.color !== '' || x.name !==''" class="row fiftyEight-portal row4Style-portal bg-light " style="border-bottom: 1px solid {{x.color}};">
                    <h5 class="text-font-size-portal">{{ x.name}}</h5>
                  </div>
                  <div ng-if="x.color == '' || x.name ==''" class="row seventyOne-portal  row5style-portal"></div>
                
                </div>
              </div>
              <div class="row pt-4 pb-5">
              
                   <ul ng-repeat="x in array"  style="list-style:block;">
                <li class="p-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="dot "style="background-color:{{x.color}}!important;word-spacing: 20%;"></span> {{x.name}}</li>
              </ul>
                  </div>
                </div>
              </div>
          
  </body>
 
  <script src="./Assets/js/nabvar.js"></script>
    <script src="./Assets/js/sidebar.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="./Assets/js/calendar.js"></script>
    <script src="./Assets/js/calender1.js"></script>
       <script src="./Assets/js/popup.js"></script>
       <script src="./Assets/js/Routes.min.js"></script>
  <!-- bower:js -->
  <script src='bower_components/jquery/dist/jquery.js'></script>
  <script src='bower_components/angular/angular.js'></script>
  <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
  <script src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>
  <script src='bower_components/angular-animate/angular-animate.js'></script>
  <script src='bower_components/angular-sanitize/angular-sanitize.js'></script>
  <script src='bower_components/angular-cookies/angular-cookies.js'></script>
  <script src='bower_components/angular-messages/angular-messages.js'></script>
  <script src='bower_components/angular-ui-router/release/angular-ui-router.js'></script>
  <script src='bower_components/toastr/toastr.js'></script>
  <script src='bower_components/angular-input-masks/angular-input-masks-standalone.js'></script>
  <script src='bower_components/angular-translate/angular-translate.js'></script>
  <script src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js'></script>
  <script src='bower_components/components-configuration/components.js'></script>
  <!-- endbower -->
  <script src='src/calendar-daily-view-portal.module.js'></script>
  <script src='src/calendar-daily-view-portal/calendar-daily-view-portal.service.js'></script> 
  <!-- <script src="calendar-daily-view-portal.js"></script>     -->
  <!-- <script src="calendar-daily-view-portal.min.js"></script>    -->
  <script id="__bs_script__">
    //<![CDATA[
      document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.18.12'><\/script>".replace("HOST", location.hostname));
    //]]>
  </script>
  <script>
    
    (function(){
   
    
      angular
        .module('calendar-daily-view-portal-tpl-html',['tb.components.calendar-daily-view-portal'])
        .controller('AppCtrl', ['$scope', 'CalendarDailyViewPortalService', function($scope, CalendarDailyViewPortalService){
          
          var vm = this;

          var contentModal = {
            anyProperty : 'The modal will receive the object that you build'
          }
  
          vm.calendarDailyViewPortalService = function($event){
            CalendarDailyViewPortalService.responsavelAssistente(contentModal).then(function(modalClosedReturn){
            });
          }
        }]);
    }());
  </script>
</html>
